h1 {
  text-align: center;
  color: brown;
}

h3 {
  text-align: center;

}
.img-center {
  text-align: center;
} 

.img-center > img {
   width: 30%;
   border-radius: 25px;
}

.text-center {
  text-align:center;
  width: 500px;
  margin:0 auto;
  
}


.text-smal {
  text-align:center;
  width: 60px;
  position: relative; left: 630px;
}

div.text-center > ul {
  list-style: none;
  padding-left: 0;
}